    </div>
    <div class="footer">
        <div class="container">
            <ul class="list-inline">
            <li class="footer-inverse"><a href="https://www.linkedin.com/in/megan-wallace-536695100/"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://twitter.com/MeganAWallace"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="mailto:m.a.wallace@exeter.ac.uk"><i class="fa fa-envelope fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://benlongdon.com/people/meganw/"><i class="fa fa-university fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
